.Presentation{
    width: 100%;
    padding: 5%;
    color:#4A443B;
    font-size: 17px;
    line-height: 1.65;
    margin: 0 0 20px;
}

.bloc_presentation{
    max-width: 100%;
    padding: 1% 15% 0% 32%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 3%;
}

.bloc_title {
  display: flex;
}


.presentation_image{
  width: 30%;
  transform: translateY(-6px);
  box-shadow: 0 30px 60px -30px rgba(26, 24, 21, 0.32);
  border-radius: 9%;   
}
.text_presentation{
  padding: 1% 5% 20% 0%;
}

@media (max-width: 768px) {
  .bloc_presentation {
    flex-direction: column;
    margin-bottom: 2%;
    padding: 0% 15%;
  }
  
 .presentation_image {
    width: 100%;
    margin: 5%;
  }

    .text_presentation{
  padding: 1% 5% 0% 0%;
}

.line {
  gap: 2%;
}
}