.Presentation{
    width: 100%;
    padding: 5%;
    color:#4A443B;
    font-size: 17px;
    line-height: 1.65;
    margin: 0 0 20px;
}

.bloc_presentation{
    max-width: 100%;
    padding: 1% 15% 0% 15%;
    display: flex;
    align-items: center;
    text-align: justify;
    gap: 5%;
}

.bloc_title {
  flex: 1;
}

.presentation_image{
  width: 20%;
  transform: translateY(-6px);
  box-shadow: 0 30px 60px -30px rgba(26, 24, 21, 0.32);
  border-radius: 9%;   
}

@media (max-width: 768px) {
  .bloc_presentation {
    flex-direction: column;
    margin-bottom: 2%;
  }
  
 .presentation_image {
    width: 60%;
margin-bottom: 5%;
  }

}