* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'verdana', sans-serif;
  background-color: #F5F0E8;
}

#root {
  width: 100%;
}

.container{
  padding: 1% 0%;
}

.bloc_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
  overflow: auto;
}

h2{
  font-family: 'verdana';
  color: #2F5D50;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
  font-weight: 600;
}



